.dashboard {
    display: flex;
    gap: 9.25rem; 
    margin: 1.5rem;
    margin-left: 4.5rem;
    grid-template-columns: repeat(3,1);
    
  }
  
  .card {
    background-color: var(--gray-900);
    border: var(--gray-500);
    border-radius: 0.625rem;
    padding: 1.25rem;
    width: 25rem;
    height: 11.25rem;
    color: var(--gray-500);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  }
  
  .card p {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
  }
  
  .card strong {
    font-size: 2.375rem;
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 800;
    color: var(--white);
  }
  
  .card small {
    font-size: 1rem;
    color: var(--gray-500);
  }
  
  .newTransactionButton {
    background: none;
    border: 0.125rem solid var(--orange-500);
    border-radius: 0.5rem;
    padding: 0.625rem;
    color: var(--gray-500);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .newTransactionButton:hover {
    background-color: var(--orange-500);
    color: var(--gray-900);
  }
  